.event-form{
  max-width:350px;
  padding-left:25px;
  text-align:left;
  float:left;

}


.event-form label{
  margin:10px 0px;
}


textarea{
  width:100%;
  resize:none;
  margin-top:10px;
  padding:10px;
  font-size:16px;
  height: 100px;
  border-radius:6px;
}

select{
  width:100%;
  padding:10px;
  margin:10 0px;
  border-radius:6px;
  border:1px solid #666666;
  font-size:16px;
}


.background-6{
  background:url('/assets/background-6.png');
}


.newEventWrapper{
  height:100%;
}

.event-form{
  margin-bottom: 100px;
}

@media only screen and (max-width: 500px) {
  .create-nav {
    width: 100%;
    text-align: center;
    padding-bottom: 0px; 
    padding-right: 0px; 
    padding-left: 0px;
    height:unset;
  }

  .instructions {
    float: none;
    width: 100%;
    text-align: center;
    display: block;
 
 }

  .event-form {
    max-width: 350px;
    padding-left: 0px;
    padding:20px;
    text-align: left;
    float: left;
  }

    .card-container{
      width:100%;
    }

    .card{
      width:100% !important;
    }

}
 