.event-form{
  max-width:350px;
  padding-top:110px;
  margin:auto;
  text-align:left;

}


textarea{
  max-width:350px;
  height: 100px;
}

select{
  width:100%;
  padding:10px;
  margin:10 0px;
  border-radius:6px;
  border:1px solid #666666;
  font-size:16px;
}