.absoluteposition{
    /* position:absolute; */
   
}


.slides{
    position:absolute;
    width:100%;
    padding-left:50px;
    padding-right:50px;
}


.create-nav{
   
    padding-right:30px;
    text-align:right;
}
