#dashboard_main{

   /* padding-top: 100px; */
   width: 400px;
   /* flex-direction: column; */
   padding:0px 20px;
   /* display: flex; */
   float: left;
   /* justify-content: center; */
   text-align: left;

}

#dashboard_main p{
 
    line-height:180%;
}

.block-li li{
    display:block;
}

#dashboard_eventlist{
    /* width:500px;
    display:inline-block;
    float:left;
  */

  max-width: 500px;
  min-width:400px;
  display: flex;
  /* padding-top: 180px; */
  float: left;
  flex-direction: column;

}

.dashboard-wrapper{
    padding-top:110px;
    max-width:910px;
    margin:auto;
}

.option_container{
    max-width:300px;

}

.doggy-img img{
    width:150px;
}


@media only screen and (max-width: 500px) {
  .dashboard-wrapper{
        padding-top:50px;
  }

  .doggy-img{
      display:none;
  }
  

}

