.date-form{
    max-width:400px;
    margin:auto;
}

.width1100{

}

.date_list li{
    font-size:14px;
    font-weight:bold;
}

.dateList{
    text-align:left;
    margin-top:20px;
}

.card{
    text-align:left;
    width:400px;
    padding-right:20px;
    padding-left:20px;
    float:left;
   
  }



.selected-date-text{
    opacity:0.5;
}

.max-300{
    max-width:300px;
}

.max-250{
    max-width:250px;
}

.full-width-button{
    width:100%;
    display:block;
    float:left;
    text-align:left;
}

.full-width-button button{
    margin-left:200px;
    margin-top:40px;
}