.date-form{
    max-width:400px;
    margin:auto;
}

.width1100{

}

.date_list li{
    font-size:14px;
    font-weight:bold;
}

.dateList{
    text-align:left;
    margin-top:20px;
}

.card{
    text-align:left;
    width:400px;
    padding-right:20px;
    padding-left:20px;
    float:left;
   
  }



.selected-date-text{
    opacity:0.5;
}