.user-event{
  display: inline-block;
  border: dotted grey 1px;
  border-radius:6px;
  padding: 10px;
}

.date-vote{
  border: dotted grey 1px;
  padding-left:20px;
}

.event-list{
  text-align:left;
}