
/* elements */
ul {
    list-style-type: none;
    margin: 0;
  padding: 0;

  }
  
 
  button{
    border: 1px solid #666666;
  
  }
  
  /* Classes */
  
  .header-bar {
    height:50px;
    margin:10px 20px;
  }

  .header-nav {
      float: right;
  }

  .header-logo{
    display:inline-block;
    float:left;
  }