.home-img{
    position: fixed;
    bottom: 0px;
    max-width: 650px;
    z-index: 0;
    left: 64%;
    transform: translateX(-50%);
    z-index:0;
}

.hero{
    position:absolute;
    left:80px;
    max-width:400px;
    text-align:left;
    top:15%;
    z-index:2
}

.hero h3{
    font-weight:normal;
    margin:0px;
}

.hero .button_wrapper{
    display:none;
}


#hero-background{
    background:url('/assets/home.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 750px;
    z-index: 888;
    height: 700px;
    bottom: 0px;
    left: 30%;
    position: absolute;
}

.hero h1{
 
    font-family:Graebenbach,Helvetica,Arial,sans-serif;
    font-weight:400;
    font-size:70px !important;
    position:relative;
    line-height:130%;
    color:#575e96;
    z-index:1;
    margin-bottom:0px;
    
}


@media only screen and (max-width: 450px) {
    .hero{
       text-align:center;
        width: 100%;
        background: white;
        left:0px;
        top:0px;
    }

    .hero h3{
        display:none;
    }

    .hero h1{
        font-size:30px !important;
        text-align:center;
        line-height:120%;
        margin-top:32% !important;
    }

    .home-img{
        width: 275%;
        left: -25%;
        transform: translateX(2%);
    }


}

@media only screen and (min-width: 451px) and (max-width: 1300px){
    .home-img{
        max-width:550px;
    }

}


@media only screen and (min-width: 1400px) and (min-height:800px) {
    .hero{
        top:6%;
        margin:auto;
        max-width:600px;
        
    }

    .hero h1{
        font-size:100px !important;
        text-align:left;
        line-height:120%;
    }

    .home-img{
        width:75%;
        left:55%;
        transform:translateX(2%);
    }


}




