.home-img{
    position: fixed;
    bottom: 0px;
    max-width: 600px;
    z-index: 0;
    left: 64%;
    transform: translateX(-50%);
    z-index:0;
}

.hero{
    position:absolute;
    left:100px;
    max-width:400px;
    text-align:left;
    top:15%;
    z-index:2
}

.hero h3{
    font-weight:normal;
}

.hero .button_wrapper{
    display:none;
}


#hero-background{
    background:url('/assets/home.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 600px;
    z-index: 888;
    height: 700px;
    bottom: 0px;
    left: 30%;
    position: absolute;
}

.hero h1{
 
    font-family:Graebenbach,Helvetica,Arial,sans-serif;
    font-weight:400;
    font-size:70px !important;
    position:relative;
    line-height:130%;
    color:#575e96;
    z-index:1;
    margin-bottom:0px;
    
}


@media only screen and (max-width: 450px) {
    .hero{
        left:25px;
        top:20px;
    }

    .hero h1{
        font-size:50px !important;
        text-align:left;
        line-height:120%;
    }

    .home-img{
        width:75%;
        left:25%;
        transform:translateX(2%);
    }


}


@media only screen and (min-width: 1400px) and (min-height:800px) {
    .hero{
        top:6%;
        margin:auto;
        max-width:100%;
        
    }

    .hero h1{
        font-size:120px !important;
        text-align:left;
        line-height:120%;
    }

    .home-img{
        width:75%;
        left:55%;
        transform:translateX(2%);
    }


}




