.new-event-form{
   
}

.absolute-wrapper{
    width:100%;
    text-align:center;
}


.event-form-options{
    max-width: 400px;
    /* margin: auto; */
    padding-left: 50px;
    float: left;
    border-left: 1px dashed #ccc;

}

.form-outline{
    overflow:hidden;
    border:1px dashed #ccc;
    border-radius:6px;
    margin-top:20px;
    margin-bottom:100px;
}


.activity-options{
    text-align:left;
    float:left;
    display:inline-block;
}

.activity-options label p{

    font-size:14px;
    font-weight:bold;
    opacity:0.5;
    margin-left:30px;
    
}


/* .activity-options 
input[type=checkbox] {
  border: 1px;
  padding: 0;
  position: absolute;
  width: 20px;
  height:20px;
} */


.temp-adjust{
    padding-top:0px !important;
}