#select-cuisine{
    max-width: 260px;
    padding: 25px;
    text-align: left;
    float: left;
    margin-right:20px;
}

#restaurant-list{
    text-align:left;
    overflow:hidden;
     max-width:1500px;
    text-align:left;

}
#restaurant-list input{
  
    display:inline;
}

.new-event-form{
    padding-top:60px;
    margin:auto;
   
}



.text-left{
    text-align:left !important;
}

.restaurant-item{

    border: 1px dashed;
    margin: 10px 10px;
    border-radius: 6px;
    border: 1px dotted;
    padding: 10px;
    clear: both;
    display: inline-block;
    height: 240px;
    width: 240px;
    overflow: hidden;  /* This is important */

}

.instructions{

    float: left;
    text-align:left;
    /* padding: 25px; */
    display: inline-block;
    /* border-right: 1px dashed #ccc; */
}



#restaurant-choices{
    font-size:14px;
    font-weight:bold;
    min-height:140px;
}
  

@media only screen and (min-width: 800px) {
    .new-event-form {
    
    }
  }
 

.restaurant-item.checked-true {
  background-color: rgb(220, 255, 220);
}


.restaurant-img-bg{
    height:200px;
    width:300px;
}

.restaurant-result-box{
   border:1px dashed #ccc;
   border-radius:6px;
   margin:10px;
   float:left;
}

.restaurant-result-box .checkmark{
    position: absolute;
    top: 0px;
    left: -40px;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.restaurant-text-info{
    padding:12px;
}

@media only screen and (max-width: 450px) {

    .restaurant-resultbox{
        float:left;
    }

    #restaurant-list{
        float:left;
    }

}