#select-cuisine{
    max-width: 500px;
    padding: 25px;
    text-align: left;
    float: left;
}

#restaurant-list{
    text-align:left;
    float:left;
    width:100%;
    text-align:left;

}
#restaurant-list input{
  
    display:inline;
}

.new-event-form{
    padding-top:60px;
    margin:auto;
    max-width:800px;
}

#restaurant-list img {
  max-width: 100px;
  float:right;
 
  border-radius:6px;
}

.text-left{
    text-align:left !important;
}

.restaurant-item{

    border: 1px dashed;
    margin: 10px 10px;
    border-radius: 6px;
    border: 1px dotted;
    padding: 10px;
    clear: both;
    display: inline-block;
    height: 240px;
    width: 240px;
    overflow: hidden;  /* This is important */

}

.instructions{
    max-width: 340px;
    float: left;
    text-align:left;
    padding: 25px;
    display: inline-block;
    border-right: 1px dashed #ccc;
}


.create-nav{
    padding-left: 25px;
    text-align:left;
}


#restaurant-choices{
    font-size:14px;
    font-weight:bold;
}
  

@media only screen and (min-width: 800px) {
    .new-event-form {
    width:800px !important;
    }
  }
 

.restaurant-item.checked-true {
  background-color: rgb(220, 255, 220);
}
